@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato/LatoRegular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato/LatoBold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url("../fonts/Lato/LatoItalic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}